.footer {
    margin-top: auto; 
    min-height: 50px; 
    //background:black;
    nav {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                display: inline-block;
                padding: 0px 30px;
                
                svg {
                    width: 1.5em;
                    height: 1.5em;
                    transition: transform .2s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        
    }

    .copyright {
        padding: 10px 0px;
        display: block;
        text-align: center;

        .year {
            padding-left: 8px;
        }
    }
}
